<footer>
	<div class="container">
		<div class="one-half column menupie">
			<ul>
				<li><a target="_blank" href="https://es-es.facebook.com/"><i class="fab fa-facebook-square"></i></a></li>
				<li><a target="_blank" href="https://twitter.com/?lang=es"><i class="fab fa-twitter-square"></i></a></li>
				<li><a target="_blank" href="https://www.instagram.com/?hl=es"><i class="fab fa-instagram"></i></a></li>
				<li><a target="_blank" href="https://soundcloud.com/"><i class="fab fa-soundcloud"></i></a></li>
				
			</ul>
		</div>
		
		<div class="one-half column piedos">
			<ul>
				<li><a href="#">Inicio</a></li>
				<li><a href="#conciertos">Conciertos</a></li>
				<li><a href="#entradas">Entradas</a></li>
				<li><a href="#us">Nosotros</a></li>
				<li><a href="admin/index.php">Administración</a></li>
			</ul>
		</div>

		
	</div>
</footer>
</body>
</html>