<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Holi01</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" href="css/custom.css">
	<link href="https://fonts.googleapis.com/css?family=Kavivanar|Montserrat:400,700" rel="stylesheet">
	<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	
</head>
<body>